.box-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
    padding: 2rem;
  
    .box1 {
      background: var(--light-bg);
      padding: 3rem;
      text-align: center;
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }
    i {
      height: 6.5rem;
      width: 6.5rem;
      line-height: 6.5rem;
      font-size: 3rem;
      color: var(--white);
      background: var(--orange);
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }
    h3 {
      font-size: 2.2rem;
      color: var(--black);
      padding: 1rem 0;
    }
  }
  